:root {
    --jiggle-scale: 0.875;
}

.toastjs-container {
    transition-duration: 500ms;
}

.toastjs {
    background-color: #0f0f0f;
    font-size: 12px;

    border: 1px solid #1b1b1b;
}

.toastjs-btn {
    margin-top: 10px;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0.05);
    font-family: inherit;
}

.shake {
    animation: shake 1s 1;
}

@keyframes shake {

    0%,
    25%,
    75%,
    100% {
        transform: rotate(0deg) scale(var(--jiggle-scale));
    }

    0%,
    100% {
        transform: scale(1);
    }

    35% {
        transform: rotate(5deg) translateX(5px) scale(var(--jiggle-scale));
    }

    45% {
        transform: rotate(-5deg) translateX(-5px) scale(var(--jiggle-scale));
    }

    55% {
        transform: rotate(5deg) translateX(5px) scale(var(--jiggle-scale));
    }

    65% {
        transform: rotate(-5deg) translateX(-5px) scale(var(--jiggle-scale));
    }
}

.view {
    #content>* {
        white-space: pre;
    }

    #content {
        counter-reset: line-number;
        /* Add padding to the left to make space for the line numbers */
        padding-left: 3.5em;
        position: relative;
        /* Essential for positioning the numbers */
    }

    #content .line::before {
        counter-increment: line-number;
        content: counter(line-number);
        /* Position the line numbers within the padding area */
        position: absolute;
        left: 0;
        /* Adjust as needed for alignment within the padding */
        text-align: right;
        width: 2.5em;
        /* Adjust width as needed */
        color: rgba(107, 114, 128, 0.5);
        /* Example color */
        user-select: none;
        /* Prevent selection of line numbers */
    }

    #content pre::before {
        counter-increment: line-number;
        content: counter(line-number);
        /* Position the line numbers within the padding area */
        position: absolute;
        left: 0;
        /* Adjust as needed for alignment within the padding */
        text-align: right;
        width: 2.5em;
        /* Adjust width as needed */
        color: rgba(107, 114, 128, 0.5);
        /* Example color */
        user-select: none;
        /* Prevent selection of line numbers */
    }
}

::-webkit-scrollbar {
  width: 8px; /* For vertical scrollbar */
  height: 10px; /* For horizontal scrollbar */
}

/* Styling the scrollbar track (the background) */
::-webkit-scrollbar-track {
  background: #1b1b1b;
  border-radius: 5px;
}

/* Styling the scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background: #88888860;
  border-radius: 5px;
}

/* Styling the scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}